<section class="large-12 columns">

<!--<div class="" style="float:left;margin-left: 60px;">
	<img style="float:left;width: 670px;height: 230px;" class="" src="images/angular.png" alt="ships" height="" width="150">
	<img style="float:left;height: 230px;width: 475px;" class="" src="images/Bootstrap3.jpg" alt="ships" height="" width="">
	<img style="float:left;width: 350px;height: 270px;" class="" src="images/CSS3.jpg" alt="ships" height="" width="">
	<img style="float:left;width: 795px;height: 150px;" class="" src="images/jQuery.png" alt="ships" height="" width="">
	<img style="float:left;width: 440px;height: 250px;" class="" src="images/HTML5.jpg" alt="ships" height="" width="">
  	<img style="float:left;width: 355px;height: 90px;" class="" src="images/highcharts.jpg" alt="ships" height="" width="">
</div>-->
<div id="container" style="height: 500px; min-width: 510px; max-width: 900px; margin: 0 auto"></div>
<div id="rfgStatesBreakdown" class="col-sm-offset-4 col-sm-4 text-center" style="color:red;background-color:white">
	<span id="2011">2011</span><span> || </span><span id="2012">2012</span><span> || </span><span id="2013">2013</span><span> || </span><span id="2014"style="">2014</span>
</div>
</section>
